<h1 style="margin-bottom:0px" ng-hide="confirmation_error">Schnell einloggen!</h1>
<h4 ng-hide="just_confirmed">Oder: <a href="/users/sign_up">Neu hier</a>?</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email%><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password, "passwort" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.submit "Los Jetzt!" %></div>
<% end %>

