!!!
/[if IE 8] <html class="ie ie8" ng-app="grundeinkommen">
/[if IE 9] <html class="ie ie9" ng-app="grundeinkommen">
/ [if gt IE 9]><!
%html{"ng-app" => "grundeinkommen", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  / <![endif]
  %head
    %title{"data-ng-bind"=>"meta.title"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/

    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Crowdbar", :name => "apple-mobile-web-app-title"}/

    %meta{property: "og:image", content: "https://www.mein-grundeinkommen.de/assets/fbshare.png"}
    /Load this for production and for development
    %base{:href => "/" }

    %meta{name: "google-site-verification", content:"6jfRBR0Umvg4AYmNgtNLT7nz8APFzGxMCc8d1BuKFUw"}

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//platform.twitter.com/widgets.js"
    = csrf_meta_tags
    / Favicons
    %link{href: "/assets/ico/favicon.ico", rel: "shortcut icon"}/
    %link{:href => "/assets/ico/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/assets/ico/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/assets/ico/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/assets/ico/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/assets/ico/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/assets/ico/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/assets/ico/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/assets/ico/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/assets/ico/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/

  %body.home-3{"ng-controller" => "AppCtrl"}
    .wrap{"ng-class"=>"{'full_height' : getStatus('/boarding') == 'current' || getStatus('/crowdapp') == 'current'}"}
      / Header Start
      %header#header
        .main-header{"ng-hide"=>"getStatus('/boarding') == 'current'"}
          .container
            / TopNav Start
            / TopNav End
            / Logo Start
            .logo.pull-left{:style=>'margin-top:-5px;'}

              %a{href: "/", :style =>'font-weight:bold;'}
                = image_tag 'logo.png', :height => 95


            / Logo End
            / Mobile Menu Start
            .mobile.navbar-header
              %a.navbar-toggle{ 'ng-click' => "toggleMenu = !toggleMenu", href: ""}
                %i.fa.fa-reorder.icon-2x.big
            / Mobile Menu End
            / Menu Start
            %nav.menu.navbar-collapse{"collapse" => "!toggleMenu"}
              %ul.nav.navbar-nav.sf-menu
                %li{id: "{{getStatus('/start')}}"}
                  %a{href: "/start"}
                    Start
                / %li{id: "{{getStatus('/community')}}"}
                /   %a{href: "/community"}
                /     Was wäre wenn?
                %li{id: "{{getStatus('/blog')}}"}
                  %a{href: "/blog"}
                    Blog
                %li{id: "{{getStatus('/faq')}}"}
                  %a{href: "/faq"}
                    Fragen
                %li{id: "{{getStatus('/support')}}"}
                  %a{href: "/support/crowdbar", style: "padding-bottom: 25px;"}
                    Unterstützen!
                    .progress{:style=>'height:6px'}
                      .progress-bar(aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}};font-size:6px;padding:0px;")


                %li{"ng-hide" => "current.isAuthenticated()", :id => "{{getStatus('/register')}}"}
                  %a{href: "/register"} Mitmachen

                / %li{"ng-show" => "current.isAuthenticated()", :id => "{{getStatus('/boarding')}}"}
                /   %a{href: "/boarding"} Gewinnen

                %li{"ng-show" => "current.isAuthenticated()", :id => "{{getStatus('/menschen/'+current.user.id)}}"}
                  %a.sf-with-ul.with_avatar.hidden-xs.hidden-sm{href: "/menschen/{{current.user.id}}"}
                    .testimonial-image.pull-right
                      %img{'ng-src' => "{{current.user.avatar.avatar.url}}"}
                    {{current.user.name}}
                    %span.sf-sub-indicator
                      %i.fa.fa-angle-down
                  %a.sf-with-ul.with_avatar.visible-xs.visible-sm{href: "/menschen/{{current.user.id}}"}
                    .testimonial-image.pull-right
                      %img{'ng-src' => "{{current.user.avatar.avatar.url}}"}
                  %ul
                    %li
                      %a.sf-with-ul{href: "/menschen/{{current.user.id}}?gewinnspiel"} Verlosung
                    %li
                      %a.sf-with-ul{href: "/menschen/{{current.user.id}}"} Ich würde ...
                    %li
                      %a.sf-with-ul{href: "/menschen/{{current.user.id}}?states"} Ich bin ...
                    %li
                      %a.sf-with-ul{href: "/menschen/{{current.user.id}}?edit_profile=true"}
                        %i.fa.fa-pencil
                        Daten bearbeiten
                    %li
                      %a.sf-with-ul{href: "#", "ng-click"=>"current.logout()"}
                        %i.fa.fa-power-off
                        Abmelden

                %li{"ng-hide" => "current.isAuthenticated()", :id => "{{getStatus('/login')}}"}
                  %a{href: "/login"} Einloggen



      .margin-top-70.margin-bottom-70.text-center.ng-hide{"ng-show" => "show_spinner"}
        %i.fa.fa-refresh.fa-spin.big
        / %div.text-center.margin-top-30{style: "width:150px;margin-left: auto;margin-right: auto;"}
        / %progressbar.active.small{:value => "100",:style=>"height:10px;"}

      #main{"ng-view" => "", :autoscroll=>"true"}
      / Content End
      / Footer Start
      %footer#footer{"ng-hide"=>"getStatus('/boarding') == 'current' || getStatus('/crowdapp') == 'current'"}
        / Footer Top Start
        .footer-top
          .container
            .row
              %section.col-lg-6.col-md-6.col-xs-12.col-sm-6.footer-one
                %h3 Über das Projekt
                %p
                  "Mein Grundeinkommen" sammelt per Crowdfunding Geld für ein Bedingungsloses Grundeinkommen. Immer wenn 12.000€ zusammen sind, werden sie an eine Person ausgelost.
              / %section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-two
              /   %h3 Twitter Stream
              /   %ul#tweets
              / %section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-three
              /   %h3 Contact Us
              /   %ul.contact-us
              /     %li
              /       %i.icon-map-marker
              /       %p
              /         %strong Address:
              /         250 Sher-E- Bangla Road,
              /         %br/
              /         Khulna, Bangladesh
              /     %li
              /       %i.icon-phone
              /       %p
              /         %strong Phone:
              /         +880 41 723 272
              /     %li
              /       %i.icon-envelope
              /       %p
              /         %strong Email:
              /         %a{href: "mailto:info@fifothemes.com"} info@fifothemes.com
              / %section.col-lg-3.col-md-3.col-xs-12.col-sm-3.footer-four
              /   %h3 Flickr Photostream
              /   %ul#flickrfeed.thumbs
        / Footer Top End
        / Footer Bottom Start
        .footer-bottom
          .container
            .row
              .col-lg-9.col-md-9.col-xs-12.col-sm-9
                \© 2014
                %a{href: "/impressum"} Verein "Mein Grundeinkommen"
                |
                %a{href:"/impressum"} Impressum
                |
                %a{href:"/nutzungsbedingungen"} Nutzungsbedingungen
                |
                %a{href:"/gewinnspielbedingungen"} Gewinnspielbedingungen
                |
                %a{href:"/datenschutz"} Datenschutz
              .col-lg-3.col-md-3.col-xs-12.col-sm-3
                %ul.social.social-icons-footer-bottom{:style => "margin-left: -120px;"}
                  %li.facebook
                    %a{"data-original-title" => "Facebook", "data-toggle" => "tooltip", :href => "http://www.facebook.com/MeinGrundeinkommen", :title => ""}
                      %i.fa.fa-facebook
                  %li.twitter
                    %a{"data-original-title" => "Twitter", "data-toggle" => "tooltip", :href => "http://www.twitter.com/meinbge", :title => ""}
                      %i.fa.fa-twitter
        / Footer Bottom End
      / Scroll To Top
      %a.scrollup{href: "#"}
        %i.fa.fa-angle-up
    / Wrap End
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52190726-1', 'auto');